.popper_window {
    width: 450px;
    height: 210px;
    z-index: 100;
}

.popper_window_card {
    width: 400px;
    height: 180px;
}

.loading_window {
    width: 400px; /* Can be in percentage also. */
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}