body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div#root {
  /* background-color:#1f1f1f; */
  background-color:#fffbd5;
  min-height: 160vh
}

.neonText {
  text-shadow:
    /* White glow */
    0 0 3px rgba(132, 207, 230, 0.664),
    0 0 7px rgba(146, 188, 207, 0.575),
    0 0 10px rgba(153, 200, 230, 0.575),
    /* Green glow */

    0 0 15px #32fae34b;
}

.neonText-small {
  color: #32fae2;
  text-shadow:
    /* Green glow */
    0 0 3px rgba(85, 165, 189, 0.582),
    0 0 7px rgba(90, 161, 194, 0.596),
    0 0 7px rgba(119, 171, 204, 0.589),

    0 0 21px #32fae39d;
}

.neonText-purple {
  color: #9812d6;
  text-shadow:
    /* White glow */
    0 0 1px rgb(177, 85, 189),
    /* Green glow */

    0 0 2px #bb32fa;
}

.neonBorder-purple {
  background-color: white;
border-radius: 0.25rem;
padding: 0.4em;
box-shadow: 0 0 .02rem #fff,
            0 0 .02rem #fff,

            0 0 0.4rem #921e83,
            0 0 0.6rem #bc13fe;
}

.light_yellow {
  background-color: #ffffff;
}

.title_badge {
  background-color: #01012b;
  color: #32fae2;
  font-size: 1.15em !important;
  width: 480px;
}

.subtitle_badge {
  background-color: #01012b;
  color: #32fae2;
  font-size: 0.7em !important;
  width: 300px;
}

.small_badge {
  background-color: #01012b;
  color: #32fae2;
  font-size: 0.6em !important;
  width: 100%;
}