.product_img {
    float: left;
    width:  200px;
    height: 200px;
    object-fit: scale-down;
}

.yellow {
    color:#f18e01
}

.link-unstyled{
    color: inherit;
    text-decoration: inherit;
  }